body {
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: #333;
    max-width: 100%;
    background-image: url(../img/coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
span{
    color: #d2691e;
}

.header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.83);
    color: #747474;
    margin: 0 0 1rem 0;
}

.header-title {
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    margin: 0;
    font-size: 2rem;
}

.logo-image {
    height: 5rem;
    width: auto;
}

.nav {
    display: flex;
}

.nav-link,
footer .social-link {
    text-decoration: none;
    color: #333;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.nav-link:hover,
.social-link:hover {
    color: #d2691e;
}

.carousel-container {
    width: 55%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
}

.carousel-text {
    font-weight: 600;
    position: absolute;
    bottom: 0.1rem;
    left: 33rem;
    padding: 1rem;
    transform: translateX(-50%);
    color: rgb(206, 206, 206);
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 1.4rem;
    text-align: justify;
    height: 95%;
    width: 25%;
}

.carousel-text p {
    padding: 1.5rem 0 0 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.prev {
    left: 0.625rem;
}

.next {
    right: 0.625rem;
}

.titulocard {
    font-weight: 600;
    text-align: center;
    margin: 5rem auto 0;
    font-size: 2rem;
    background-color: #faf3e0;
    padding: 1rem 0 3rem 0;
}

.card-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
    color: black;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f9fa;
    border-radius: 0.625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    border-radius: 1rem;
}

.card-text {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: justify;
}

.card:hover {
    transform: scale(1.05);
}

.button-container {
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.view-more-button {
    text-decoration: none;
    background-color: #d2691e;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.view-more-button:hover {
    background-color: #c05e1e;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: black;
    font-size: 1.5rem;
}
footer .social-link{
    display: grid;
}


@media (max-width: 600px) {
    .header {
        text-align: center;
        font-size: 2rem; 
        flex-direction: column; 
        align-items: center;
        padding: 1rem; 
    }
    .header-title {
        margin: 1rem 0;
    }

    .nav {
        flex-direction: column; 
        align-items: center;
    }

    .carousel-container {
        width: 90%; 
    }

    .carousel-text {
        font-size: 1rem;
        width: 60%; 
        left: 50%;
        transform: translateX(-50%);
    }

    .card {
        width: 100%;
    }

    .titulocard {
        font-size: 1.5rem;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .header {
        text-align: center;
        font-size: 3rem;
        padding: 1rem 1.5rem;
    }
    .header-title {
        margin: 0 1rem;
    }

    .carousel-container {
        width: 75%;
    }

    .carousel-text {
        font-size: 1.2rem;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
    }

    .card {
        width: 45%;
    }

    .titulocard {
        font-size: 1.8rem;
    }
}


@media (min-width: 1025px) {
    .carousel-container {
        width: 55%;
    }

    .card-container {
        width: 80%;
    }
}
